* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #000;
  color: white;
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: right;
  padding: 15px 50px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.logo{
  display: flex;
  align-items: center;
  gap: 10px;
}

header img {
  height: 50px;       
  width: auto;        
  object-fit: contain; 
  border-radius: 90px;    
  background: none;    
  border: none;        
}

header .brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.inicio:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.lotes:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.cotizacion:hover{
     transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.preguntas:hover{
     transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.user-icon {
  background: white;
  color: black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.5rem;
}

.user-icon:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}
.hero {
  height: 100vh;
  background: url("imagenes/imagen2.png") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 80px;
}

.hero h1 {
  font-size: 4rem;
  font-weight: bold;
}

.hero p {
  font-size: 1.5rem;
  font-family: "Brush Script MT", cursive;
  margin-top: 10px;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  font-size: 2rem;
  background: white;
  color: black;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
}

.scroll-down:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.content {
  background: white;
  color: black;
  padding: 50px;
}
